{% extends "base/base.html" %} {% block base %}
<!-- Content Header (Page header) -->
<section class="content-header hidden-xs">
    <h1>
        Organisasi
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-user"></i> Data Awal</a>
        </li>
        <li class="active">Organisasi</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    {% block content %} {% endblock content %}
</section>
<!-- /.content -->
{% endblock base %}