{% extends "base/base.html" %} {% block base %}
<script>
    $("input[name=property]").on({
        keydown: function (e) {
            if (e.which === 32)
                return false;
        },
        change: function () {
            this.value = this.value.replace(/\s/g, "");
        }
    });
</script>
<!-- Content Header (Page header) -->
<section class="content-header hidden-xs">
    <h1>
        Pengaturan
        <small>Akun</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Akun</a>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    {% block content %} {% endblock content %}
</section>
<!-- /.content -->
{% endblock base %}